{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
    <title>{{user.username}}</title>
{% endblock title %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %}
    <h1>{{user.username}}</h1>

    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    
        {% if u_form.errors %} 
          {% bootstrap_form_errors u_form %}
         {% endif %}
        {% if p_form.errors %}
          {% bootstrap_form_errors p_form %}
         {% endif %}
    
        {% bootstrap_form u_form %}
        {% bootstrap_form p_form %}
    
        <button class="btn btn-success" type="submit">{% translate "Update" %}</button>
      </form>
{% endblock content %}